




<!-- login.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%= title %></title>
  <!-- CSS SECTION -->
  <link rel="stylesheet" href="/Scripts/lib/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/Scripts/lib/bootstrap/dist/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="/Scripts/lib/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel='stylesheet' href='/Content/app.css' />
</head>
<body>

<nav class="navbar navbar-inverse" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header" style="height: 85px;">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/"><img src="/Assets/images/cslogo.png" width="150px"></a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse navbar-ex1-collapse" style="height: 100px;">
    <ul class="nav navbar-nav navbar-right" style="height: 100px;">
      <!-- Home link -->
      <% if (title === "Home") { %>
        <li class="active"><a href="/"><i class="fa fa-home fa-lg"></i>Home</a></li>
      <% } else { %>
        <li><a href="/"><i class="fa fa-home fa-lg"></i>Home</a></li>
      <% } %>


      <!-- Register and Login links -->
      <% if (isLoggedIn) { %>
        <!-- Show Logout link when user is authenticated -->
        <li><a href="/logout"><i class="fa fa-sign-out fa-lg"></i>Logout</a></li>
      <% } else { %>
        <!-- Show Login link when user is not authenticated -->
        <li><a href="/logout"><i class="fa fa-sign-in fa-lg"></i>Logout</a></li>
      <% } %>

    </ul>
  </div><!-- /.navbar-collapse -->
</nav>
    <!-- MAIN CONTENT -->
    <body>
      <section class="ftco-section">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-md-6 text-center mb-5">
              <h2 class="heading-section">Incident List</h2>
              <br>
              <a href="/incidents/add" class="btn btn-primary"><i class="fa fa-plus"></i> Add an Incident</a>
            </div>
          </div>
    
          <div class="row">
            <div class="col-md-12">
              <div class="table-wrap">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th class="text-center">Incident ID</th>
                      <th class="text-center">Incident Class</th>
                      <th class="text-center">Incident Date</th>
                      <th class="text-center">Incident Description</th>
                      <th class="text-center">Edit</th>
                      <th class="text-center">Delete</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% for (let count = 0; count < incidents.length; count++) { %>
                    <tr>
                      <td class="text-center"><%= incidents[count].incidentID %></td>
                      <td class="text-center"><%= incidents[count].incidentClass %></td>
                      <td class="text-center"><%= incidents[count].incidentDate %></td>
                      <td class="text-center"><%= incidents[count].incidentDescription %></td>
                      <td class="text-center">
                        <a href="/incidents/<%= incidents[count]._id %>" class="btn btn-primary">Edit</a>
                      </td>
                      <td class="text-center">
                        <a href="/incidents/delete/<%= incidents[count]._id %>" class="btn btn-danger">Delete</a>
                      </td>
                    </tr>
                    <% } %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
    
          
    
        </div>
      </section>
      <script src="js/bootstrap.min.js"></script>
    </body>
      

<% include ../partials/footer.ejs %>

