<!--  File: index.ejs
COMP229 - S2023
Student: Gustavo Frei 
Student ID: 301290162 
Date: June 20, 2023 
-->



<% include ../partials/header.ejs %>

    <!-- MAIN CONTENT -->
    <div class="container">
      <div class="row">
        <div class="col-md-offset-1 col-md-10">
          <h3>Incident List </h3>
          <!-- ------------------------ -->
          <!-- FIX THE ADD BUTTON BELOW -->
          <!-- ------------------------ -->
          <a href="/incidents/add" class="btn btn-primary"><i class="fa fa-plus"></i> Add an Incident</a>
          <br>
          <div class="table-responsive">
            <table class="table table-bordered table-striped table-hover">
              <thead>
                <tr>
                  <th class="text-center">Incident ID</th>
                  <th class="text-center">Incident Class</th>
                  <th class="text-center">Incident Date</th>
                  <th class="text-center">Incident Description</th>
                </tr>
                </thead>
                <tbody>
                <!-- Template Row -->
                <% for (let count = 0; count < incidents.length; count++) { %>
                <tr>
                  <td class="text-center"><%= incidents[count].incidentID %></td>
                  <td class="text-center"><%= incidents[count].incidentClass %></td>
                  <td class="text-center"><%= incidents[count].incidentDate %></td>
                  <td class="text-center"><%= incidents[count].incidentDescription %></td>

                  <td class="text-center">
                    <!-- ------------------------ -->
                    <!-- ADD the EDIT BUTTON HERE -->
                    <!-- ------------------------ -->
                    <a href="/incidents/<%= incidents[count]._id %>"
                       class="btn btn-primary">
                      Edit
                    </a>
                  </td>

                  <td class="text-center">
                    <!-- ------------------------ -->
                    <!-- ADD the DELETE BUTTON HERE -->
                    <!-- ------------------------ -->
                    <a href="/incidents/delete/<%= incidents[count]._id %>"
                       class="btn btn-danger">
                      Delete
                    </a>
                  </td>
                </tr>
                <% } %>
              </tbody>
            </table>
          </div>
           <div class="col-md-offset-1 col-md-10 text-center">
            <ul class="pagination pagination-lg pager" id="myPager"></ul>
          </div>
        </div>
      </div>
    </div>

<% include ../partials/footer.ejs %>

